<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%=title%></title>
</head>
<body class="flex justify-center text-gray-500">
    <div class="w-2/6 my-2 text-center">
        <div class="text-5xl">
            <%= title%>
        </div>
        <div class="bg-gray-200 h-1">
        </div>
        <form action="/create-item" method="post">
            <div class="flex flex-col text-left mx-5 my-2">
                <span class="text-xl">DESCRIPTION</span>
                <input type="text" placeholder="What do you need to do ?" name="desc" class="mb-2">
            </div>
            <div class="bg-gray-200 h-1">
            </div>
            <div class="flex mx-5 my-2 justify-between">
                <div class="flex flex-col text-left w-1/2 mr-5">
                    <span class="text-xl">Category</span>
                    <select name="cate" id="cate" aria-placeholder="Choose a Category">
                        <option value="" selected disabled>Choose a Category</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                    </select>
                </div>
                <div class="w-1 bg-gray-200">
                </div>
                <div class="flex flex-col text-left w-1/2 mx-5 ">
                    <span >Due Date</span>
                    <input type="date" name="date">
                </div>
            </div>
        <div class="bg-gray-200 h-1">
        </div>
        <div class="my-5">
            <button class="text-white bg-gray-500 text-2xl py-2 pl-2 pr-6 hover:bg-gray-700" type="submit">
                <i class="fas fa-plus"></i>
                ADD TASK
            </button>
            <button class="text-white bg-red-500 text-2xl py-2 pl-2 pr-2 hover:bg-red-700" type="button" id="but1">
                <i class="fas fa-trash"></i>
                DELETE TASKS
            </button>
        </div>
        </form>
        <div>
            <% for ( let i of arr){ %>
                <div class="forthatitem" id="item-<%=i.id%>">
                    <div class="bg-gray-200 h-1">
                    </div>
                    <div class="grid grid-cols-4 gap-2 my-2 ">
                        <input type="checkbox" class="h-4 my-3 w-4 madefor" name="box1" id="<%=i.id%>">
                        <div class="flex flex-col flex-start col-span-2 justify-self-start">
                            <span>
                                <%= i.desc%>
                            </span>
                            <div>
                                <i class="fas fa-calendar mx-2"></i>
                                <%= i.date %>
                            </div>
                        </div>
                        <div class="bg-green-200 py-3 rounded-md">
                            <%= i.cate%>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>



    <script type="text/javascript" src="/js/home.js"></script>

</body>
</html>